# Ignor diretóries node_modules
node_modules/

# Ignor diretóries cache Python
__pycache__/
*.pyc

# Ignor diretóries env or venv
.env
.venv

/venv
/env

*/secret_files
*secret_files

# Ignorar logs
*.log

# Ignorar artefatos de build
/dist/
/build/



# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env

# Logs
*.log

# Build e artefatos
/build/
/dist/
/*.egg-info/
*.egg

# IDEs e editores
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

/backend/snap/secret_files/
backend/snap/secret_files/
